@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800&display=swap');

html {
    font-size: 62.5%;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}


.attribution {
     margin: 5rem;
     font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em 0;
}

nav ul {
    margin: 0;
    display: flex;
    gap: 4em;    
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 1.6rem;
}

.left-col {
    width: 130%;
}

main {
    display: flex;
    margin-top: 4em;
    gap: 4em;
}

.main-img {
    width: 100%;
    height: 31em;
}

.main-bottom {
    display: flex;
    gap: 10rem;
}



h1 {
    font-size: 5rem;
    font-weight: 800;
    margin: 4rem 0 0 0;
    /* margin: 0; */
    color: hsl(240, 100%, 5%);
    line-height: 100%;
}

#main-p {
    font-size: 1.5rem;
    margin: 4rem 0;
    /* padding: 0 1.5rem 0 0; */
}

.primary-cta {
    /* margin-top: .4rem; */
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-size: 1.7rem;
    padding: 1rem 2.7rem;
    outline: none;
    text-transform: uppercase;
    border: none;
}

.right-col {
    display: flex;
    flex-direction: column;
    background: hsl(240, 100%, 5%);
    color: white;
    padding: 2rem;
}

h2 {
    color: hsl(35, 77%, 62%);
    margin: 0;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.text-card p {
    font-size: 1.5rem;
    margin: 0;
}

.text-card {
    margin-bottom: 6rem;
    position: relative;
}

.text-card::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: solid 1px hsl(233, 8%, 79%);
    bottom: -30px;
}

h3 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

section {
    display: flex;
    margin-top: 5rem;
    flex: 1;
    gap: 8rem;
    /* justify-content: center; */
}

.card {
    display: flex;
    gap: 3rem;
}

.card img {
    height: 150px;
    width: 150px;
}

h4 {
    font-size: 3rem;
    color: hsl(236, 13%, 42%);
    margin: 0;
}

h5 {
    margin: 0;
    font-size: 1.5rem;
}

.card-details p {
    font-size: 1.5rem;
    
}

/* hover */
nav ul li a:hover {
    text-decoration: none;
    color: hsl(5, 85%, 63%);
    font-size: 1.6rem;
}

h3:hover {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    color:  hsl(35, 77%, 62%);
}

h5:hover {
    margin: 0;
    font-size: 1.5rem;
    color: hsl(5, 85%, 63%);
}

.primary-cta:hover {
    /* margin-top: .4rem; */
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    font-size: 1.7rem;
    padding: 1rem 2.7rem;
    outline: none;
    text-transform: uppercase;
    border: none;
}